footer {
    padding-top: 150px;
    padding-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.myForm label:first-child {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
    color: rgb(92, 127, 233);
}
.myForm label::after {
    content: ":";
    margin-left: 1ch;
    margin-right: 2ch;
}
.myForm textarea {
    width: 200px;
    height: 50px;
    resize: none;
}
.myForm input {
   padding-right:10px;
}
